In [1]:
import requests
import json
from config import api_key
from pprint import pprint
import pandas as pd
import csv
import time

In [2]:
# Configuration of API variables
url = "http://www.omdbapi.com/?t="
api_key = "&apikey=" + api_key

# Query each movie title and populate variables
with open("Resources/MovieList.csv", "r") as file:
    
    movies = file.readlines()
    
    #variable lists creation
    movieTitle = []
    genre = []
    runtime = []
    boxOffice = []
    metaRating = []
    imdbRating = []
    releaseYear = []
    
    for movie in movies:
    
        movie = movie.replace(" ","+")
        queryURL = url + movie + api_key
        
        try:
            
            response = requests.get(queryURL).json()
            
            # create variables for Data Frame
            movieTitle.append(response.get('Title', 'N/A'))
            genre.append(response.get('Genre', 'N/A'))
            runtime.append(response.get('Runtime', 'N/A'))
            boxOffice.append(response.get('BoxOffice', 'N/A'))
            metaRating.append(response.get('Metascore', 'N/A'))
            imdbRating.append(response.get('imdbRating', 'N/A'))
            releaseYear.append(response.get('Year', 'N/A'))
            
        except:
            print(f"{movie} not found...skipping")
            pass
        
        time.sleep(2)
        
#populate data frame
movieDataDF = pd.DataFrame({
    "Movie Title": movieTitle,
    "Genre": genre,
    "Runtime (min)": runtime,
    "Box Office ($)": boxOffice,
    "Metacritic Rating": metaRating,
    "IMDb Rating": imdbRating,
    "Release Year": releaseYear
})

movieDataDF.head()

,Movie Title,Genre,Runtime (min),Box Office ($),Metacritic Rating,IMDb Rating,Release Year
0,N/A,N/A,N/A,N/A,N/A,N/A,N/A
1,Cinderella Swings It,"Comedy, Drama, Musical",69 min,N/A,N/A,6.5,1943
2,The Perfect Man,"Comedy, Family, Romance",100 min,"$16,535,005",27,5.4,2005
3,Out of the Depths,"Drama, War",61 min,N/A,N/A,5.3,1945
4,St. Elmo's Fire,"Drama, Romance",110 min,"$37,803,872",35,6.4,1985

In [3]:
print(len(movieTitle))
print(len(genre))
print(len(runtime))
print(len(boxOffice))
print(len(metaRating))
print(len(imdbRating))
print(len(releaseYear))

1001
1001
1001
1001
1001
1001
1001

In [6]:
movieDataDF = movieDataDF.loc[movieDataDF["Movie Title"] != "N/A"]
movieDataDF.head()

,Movie Title,Genre,Runtime (min),Box Office ($),Metacritic Rating,IMDb Rating,Release Year
1,Cinderella Swings It,"Comedy, Drama, Musical",69 min,N/A,N/A,6.5,1943
2,The Perfect Man,"Comedy, Family, Romance",100 min,"$16,535,005",27,5.4,2005
3,Out of the Depths,"Drama, War",61 min,N/A,N/A,5.3,1945
4,St. Elmo's Fire,"Drama, Romance",110 min,"$37,803,872",35,6.4,1985
5,Burn After Reading,"Comedy, Crime, Drama",96 min,"$60,355,347",63,7.0,2008